<div class="tabs">

    <div class="tab" (click)="selectTab('Home')" [ngClass]="{ 'active': selectedTab === 'Home' }" role="presentation"><a
            routerLink="/welcome">Home</a></div>


    <div class="tab" (click)="selectTab('crud')" [ngClass]="{ 'active': selectedTab === 'crud' }" role="presentation"><a
            routerLink="/crud">Crud</a></div>

    <!-- <a routerLink="/Signup">
        <div class="tab" [ngClass]="{ 'active': selectedTab === 'signup' }" (click)="selectTab('signup')"
            *ngIf="!loggedIn" role="presentation">Signup</div>
    </a> -->
    <!-- <a routerLink="/NewUser">
        <div class="tab" [ngClass]="{ 'active': selectedTab === 'newuser' }" (click)="selectTab('newuser')"
            role="presentation">NewUser</div>
    </a> -->
    <a *ngIf="loggedIn"> <button class="tab" (click)="logout()">Logout</button> </a>
</div>