h1{
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

.tabs{
  background-color: floralwhite;
}

.tab.active {
  background-color: #ccc;
}