<app-header></app-header>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">PROP, World!</a>
        </div>
    </nav>
</header>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Welcome to PROP, World!</h1>
            <p class="lead">This is a website for a simple marketing or informational website. It includes a large
                information of properties. Use it as a starting point to find something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2 id="rent">Rent</h2>
                <p>Rent the properties at lowest cost and direct cost without broker fee...</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2 id="search">Search</h2>
                <p>Search for properties of your required choices and filters based on BHK type you want and rent type
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Placeholder</h2>
                <p>Placeholder</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>
    </div> <!-- /container -->
</main>

<footer class="footer">
    <div class="container">
        <p>© Company 2022</p>
    </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+YE7yojyJnJF+2jcCMlZ/Jm81usR8A6z9I3tdKg"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-t2Q5xK1mASzReSwyVKsNjkOUHvOsW9I+9YhNdzf+0O+x5RFet+r39BDR4jXjj6j1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"
    integrity="sha384-K1m8Zf3lIZjuNkGrmeS2dh2Uarz7o+M/bwE8r4rPv/sUmZeLofUJtF0+ApB2BS4h"
    crossorigin="anonymous"></script>