<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="typeForm" (ngSubmit)="onSubmitType()">
                <label for="">Property Type</label>
                <input type="text" formControlName="formtypeVar">
                <button class="submit">GetType</button>
            </form>
        </div>
        <div class="col-md-4">
            <select [(ngModel)]="bhkopt" >
                <option *ngFor="let bhkopt of bhklist"  [value]="bhkopt">{{bhkopt}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <form [formGroup]="rentForm" (ngSubmit)="onSubmitRent()">
                <label for="">Property Rent</label>
                <input type="text" formControlName="formrentVar">
                <button class="submit">GetBasedOnRent</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="dark">
                        <tr>
                            <th>Type</th>
                            <th>Rent</th>
                            <th>Place</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let property of filteredProperties()">
                            <td>{{property.Type}}</td>
                            <td>{{property.Rent}}</td>
                            <td>{{property.Place}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>